$TTL 86400
{% set current_nameserver = nameservers | selectattr('name', 'equalto', inventory_hostname_short) | first %}

{{ current_nameserver.ns_name }}  IN  SOA     {{ current_nameserver.ns_name }}.{{ current_nameserver.zone }}. admin.{{ current_nameserver.zone }}. (
        5        ; serial
        604800     ; refresh (1 week)
        86400      ; retry (1 day)
        2419200    ; expire (4 weeks)
        604800     ; minimum (1 week)
        )
{% for ns in nameservers %}
0.0.10.in-addr.arpa. NS {{ ns.ns_name }}.{{ ns.zone }}.
{% endfor %}

; DNS PTR Records
{% for record in dns_records | selectattr('zone', 'equalto', '0.0.10.in-addr.arpa.')  %}
{{ record.record_value }}  IN  {{ record.type }}       {{ record.host }}.trahan.dev.
{% endfor %}

